.searchBox__form {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.searchBox__formInput {
  height: 25px;
  padding: 10px;
  border: none;
  width: 60%;
  background-color: white;
  border-radius: 30px;
  font-size: 25px;
}

input:focus{
    outline: none;
}

.searchBox__formButton {
  outline:none;
}
