.title, .search-form {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: black;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 1px black;
  }